
//  
import { {{controllerName}}Controller } from "./controller/{{controllerName}}.controller.ts";
routes.{{contollerMethod}}("{{controllerUrlPrefix}}", async (ctx: Context) => await {{controllerName}}Controller(ctx));
